In [65]:
import pandas as pd
import numpy as np

aq=pd.read_csv("E://College stuff//SEM 1//R class//data//Datasets//airquality.csv",sep=",",header=0)
aq = aq.drop('Unnamed: 0', 1)

aq.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [15]:
# 1 Fetch the observations for 9 day of June

aq.query("Day == 9 and Month ==6")

    Ozone  Solar.R  Wind  Temp  Month  Day
39   71.0    291.0  13.8    90      6    9

In [19]:
# 2.	Find Average temperature for the month of June. 

aq[aq.Month==6].Temp.mean()

79.1

In [21]:
# 3.	To which day of June has the least temperature
aq.Day[aq[aq.Month==6].Temp.min()]

5

In [23]:
# 4.	Find Maximum Ozone value for the month of May
aq[aq.Month==6].Ozone.max()

71.0

In [60]:
# 5.	Find the count of the missing values in the ozone column of the data set
aq.Ozone.isnull().sum()

37

In [31]:
# 6.	Find out What is the mean of the Ozone column in this dataset
round(aq.Ozone.mean(),2)

42.13

In [67]:
# 7.	Find out which month has the highest temperature
aq[['Month']][aq.Temp==aq.Temp.max()]

     Month
119      8

In [66]:
# 8.	Find out the wind value when the Ozone becomes maximum

aq[['Wind']][aq.Ozone==aq.Ozone.max()]

     Wind
116   3.4

In [69]:
# 9.	Find out the months for which the airquality observations have been carried out

aq.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [70]:
# 10.	Find the Ozone and temperature values for the 1st observation of every month.

aq[['Ozone','Month','Temp']][aq.Day==1]

     Ozone  Month  Temp
0     41.0      5    67
31     NaN      6    78
61   135.0      7    84
92    39.0      8    81
123   96.0      9    91

In [53]:
# 11.	Which day of which month corresponds to the least Ozone Value. 

aq[['Day','Month']][aq.Ozone==aq.Ozone.min()]

    Day  Month
20   21      5

In [57]:
# 12.	Convert the temperature for all the observations to Centigrade scale
aq['Centrigrade']=round((aq.Temp-32)*5/9,2)
aq.head()

   Ozone  Solar.R  Wind  Temp  Month  Day  Centrigrade
0   41.0    190.0   7.4    67      5    1        19.44
1   36.0    118.0   8.0    72      5    2        22.22
2   12.0    149.0  12.6    74      5    3        23.33
3   18.0    313.0  11.5    62      5    4        16.67
4    NaN      NaN  14.3    56      5    5        13.33